html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}
.wrapper{
  display: flex;
  flex-direction: column;
  background-color: rgb(230, 217, 217);
  min-height: 100%;
}
header{
  height: fit-content;
}

.main-nav{
  display: flex;
  background-color: rgb(233, 225, 225);
}

.nav-left{
  float: left;
  display: block;
}
.nav-left ul{
  list-style: none;
  display: flex;
  margin: 10px;
  padding: 10px;
}

.nav-left li{
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  padding: 5px;
  margin: 5px;
}

.nav-right{
  float: right;
  display: flex;
}
form{
  float: right;
  margin: 10px;
  padding: 10px;
  display: flex;
}
.btn{
  background-color: blueviolet;
  color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 10%;
  border-color: black;
}

.nav-right input{
  padding: 10px;
  margin: 10px;
  border-radius: 6px;
  border-style: hidden;
}

a{
  color: black;
  cursor: pointer;
  text-decoration: none;
}

#signup{
  margin: 30px;
  padding: 10px;
  color: red;
  text-decoration: underline;
}

main{
  min-height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}

.signupform{
  display: flex;
  flex-direction: column;
  margin-top: 20px auto;
  margin-top: 20px;
  justify-content: center;
  background-color: rgb(233, 225, 225);
  padding: 50px;

}
.signupform form{
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;

}

.signupform form input{
  padding: 5px;
  margin: 10px;
  border-radius: 4px;
  border-style: hidden;

}

fotter{
  padding: 20px;
  text-align: center;
  height: fit-content;
  position: fixed;
  bottom: 0;
}

.signupform p{
  color: red;
  text-decoration-style: dotted;
}
